body {
    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    line-height: 1.8;
}

section {
    padding: 100px 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

img {
    padding: 20px 0;
}

.btn {
    font-size: 2rem;   
}

header {
    background-image: url(https://source.unsplash.com/-E2nk5pNJ1g/1920x1080);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.intro {
    background-color: #F2E1E1;
    color: #757575;
    p {
        margin: 0 auto;
        padding-bottom: 20px;
        max-width: 980px;
    }
}

.invite {
    background-image: url(https://source.unsplash.com/WieARwnazLc/1920x1080);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.detail {
    background-color: #F2E1E1;
    color: #757575;
}

.respond {
    background-color: #FFDDDD;
}
